body{
	font-family: 'Lato', sans-serif;

}
.pd-2{
padding: 0% 2%;
}
header{
	background: url("../image/large.jpg") no-repeat;
	background-size: cover;
	width: 100%;

}	
.opacity{
	width: 100%;
	background-color: rgba(49, 56, 63,0.8);

}	
.pd-0{
	padding: 0;
}
.row{
	margin:0;
}
header,
aside,
{
	color: white;		
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: rgba(255, 255, 255,0.3);
}
.navbar-inverse .navbar-toggle {
    border-color: white;
}
.navegador{
	text-align: right;
}
.navbar-inverse .navbar-nav>li>a{
	color:white;
	font-size: 16px;	
}
.navbar-inverse {
    background-color: transparent;
	border-color:transparent;
}
.navbar-collapse li a:hover{
	border-bottom: 2px solid white;
}
.cambio{
	background-color: #036EBF;
	position: fixed;
	width: 100%;
	z-index: 1;
	border-radius: 0px;
}
.onehour, 
.gratis,
#services,
#example .col-md-6:nth-child(1){
	text-align: center;
}
.onehour h1{
	padding:14% 18%;
	font-size: 45px;
}
.gratis{
	background-color: rgba(78,126,184,0.9);
}
.gratis .row{
	padding: 2.1% 28%;
}
.gratis .col-md-6:nth-child(2){
	padding: 4% 0% 4.5%;
}
.btn{
	margin:0 auto;
	padding: 3%;
	border:white solid 1px;
	border-radius: 5px;
	font-size: 20px;
}
header,
header a, 
.free,
.free a, 
footer{
	color:white;
}
#services .row:nth-child(1),
#services .row:nth-child(2) i, 
#using .letras h4{
	color:#58A5FF;
}
#services h1{
	font-weight: 300;
	margin: 5% 0% 0% 0%;
}
#services .row:nth-child(1){
	padding:5% 0% 0% 0%;
	font-size: 40px;
}
#services .row:nth-child(2) i{
	font-size: 40px;
	padding: 10%;
	border-radius: 100px;
	box-shadow: 2px 2px 5px gray;
}
#services .row:nth-child(2){
	padding: 5%;
}
#services .row:nth-child(2) .col-md-4 div{
	padding: 5%;
}
#services .row:nth-child(2) .col-md-4 div:nth-child(2) h4{
	color:#5B7996;
	margin: 2% 22%;
	line-height: 1.5;
}
#services .row:nth-child(2) .col-md-4 div:nth-child(2) p{
	margin: 2% 2%;
}
.border-bt{
border-bottom: 1px solid #F0F0F0;
}
.border-t{
border-top: 1px solid #F0F0F0;
}
.separador{
	position: relative;
	margin: 0 auto; 
	display: block;
}
.s-one{
		top: 50px;
}
.s-dos{
		top: -50px;
}
.logo2{
	width: 50%;
}
#example .col-md-6:nth-child(1) p {
	text-align: left;    
}
#example .col-md-6:nth-child(1){
	padding-right: 4.5%;
}
#example .row {
	padding:10% 0% 5% 0%;
}
.imgsec-2{
	background: url("../image/sec-2.jpg");
    background-position: left;
    width: 100%;
    height: 93vh;
    background-size: cover;
}
.opacity2{
	background-color: rgba(49, 56, 63,0.8);
    height: 93vh;
    background-size: cover;	
	}
.stylesicon{
	padding: 1% 0%;
	font-size: 25px;
	border-radius: 50px;
	background-color: #50BDEA;
	color:white;	
	width: 50px;
	text-align: center;
}
#using .letras{
	position: relative;	
	padding: 0% 5%;
}
#using .iconos{
	position: absolute;
	top:0;
	left: -18px;
}
#using i {
	display: block;
	height:50px;
	width: 50px;
	margin: 220% 0%;	
	padding: 25% 0%;
}	 
#using .letras h4{
	padding-top: 10%;
}
#using .letras ul{ 
    padding: 0% 0% 0% 3%;
    line-height: 2;
} 
#becouse .banner{
	width: 100%;
}
#becouse ul{
	 padding: 2% 7%;
    line-height: 2.5;
}
#becouse p span {
	color:#608EBE
}
#becouse .row{
	padding-bottom: 10%;
}
.free {
	background-color: #74A3DB;
}
.free .row{
	padding: 3% 0%;
	text-align: center;
	font-size: 15px;
}
.free .row a{
	font-size: 25px;
}
footer{
	background-color: #2A3541;
	font-size: 16px;
}
footer .row{
	padding:3% 0%;
}
footer .row div:nth-child(2){
		text-align: right;
}
footer .row div:nth-child(2) i{
	font-size: 35px;
	padding: 0% 0% 0% 5%;
	color:#3174AE;
}